In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\subhu\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio~=0.17 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\subhu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\subhu\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\subhu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [5]:
driver=webdriver.Chrome(r"C:\Users\subhu\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
driver.get('http://www.amazon.in/')

In [7]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
product.send_keys('Laptop')

In [8]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [9]:
filter1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[13]/span/a/span')
filter1.click()

In [17]:
Title=[]
Ratings=[]
Price=[]

In [18]:
ti_tag=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in ti_tag[0:10]:
    Titles=i.text
    Title.append(Titles)
    
ra_tag=driver.find_elements(By.XPATH,'//span[@class="a-icon-alt"]')
for i in ra_tag[0:10]:
    rating=i.text
    Ratings.append(rating)
pri_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in pri_tag[0:10]:
    prices=i.text
    Price.append(prices)

In [19]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [28]:
df1=pd.DataFrame({'Title':Title,'Price':Price,'Ratings':Ratings})

In [29]:
df1

                                               Title   Price Ratings
0  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...  57,990
1  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...  89,990
2  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...  62,990
3  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...  81,990
4  (Renewed) Dell Latitude E7470 Intel Core i7 6t...  38,899
5  Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...  82,200
6  HP Pavilion 11th Gen Intel Core i7 15.6 inches...  86,600
7  (Renewed) Dell Intel 6th Gen Core i7-6820HQ 15...  43,198
8  (Renewed) Lenovo Intel Core i7 5600U 12.5-Inch...  23,998
9  Samsung Galaxy Book2 Intel 12th Gen core i7 39...  79,490

  Ratings
0
1
2
3
4
5
6
7
8
9