In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\subhu\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: outcome in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: attrs>=19.2.0 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: idna in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\subhu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\subhu\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\subhu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [20]:
driver=webdriver.Chrome(r"C:\Users\subhu\Downloads\chromedriver_win32\chromedriver.exe")

In [21]:
driver.get('http://www.ambitionbox.com/')

In [22]:
job_search=driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[5]/a')
job_search.click()

In [23]:
product=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input')
product.send_keys('Data Scientist')

In [24]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

In [25]:
search1=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/p')
search1.click()

In [26]:
product=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
product.send_keys('Noida')

In [27]:
search2=driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search2.click()

In [85]:
salary=[]
job_location=[]
company_name=[]

In [86]:
location_tags=driver.find_elements(By.XPATH,'//div[@class="entity loc"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

        
name_tags=driver.find_elements(By.XPATH,'//div[@class="company-info"]')
for i in name_tags[0:10]:
    name=i.text
    company_name.append(name)
    
sal_tags=driver.find_elements(By.XPATH,'//p[@class="body-small-l"]')
for i in sal_tags[0:10]:
    sala=i.text
    salary.append(sala)

In [87]:
print(len(job_title),len(job_location),len(company_name))

41 10 10

In [88]:
df=pd.DataFrame({'salary':salary,'job_location':job_location,'company_name':company_name})
df

,salary,job_location,company_name
0,5-9 years,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida",CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....
1,₹ 10-20 LPA,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida",CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews)
2,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida",Noida,GENPACT India Private Limited\n4.0\n(19.9k Rev...
3,5-9 Yrs,Noida,Genpact\n4.0\n(19.9k Reviews)
4,₹ 10-20 LPA,Noida,Ericsson India Global Services Pvt. Ltd.\n4.3\...
5,"Hyderabad/Secunderabad, Gurgaon/Gurugram, Noida","Ghaziabad, Gurgaon/Gurugram, Noida",GENPACT India Private Limited\n4.0\n(19.9k Rev...
6,"python, data science, advanced excel +1 more",Noida,Optum Global Solutions (India) Private Limited...
7,7-12 Yrs,Noida,Optum Global Solutions (India) Private Limited...
8,Not Disclosed,Noida,Ericsson India Global Services Pvt. Ltd.\n4.3\...
9,Noida,"Chennai, Bengaluru/Bangalore, Noida",SOPRA STERIA INDIA LIMITED\n4.2\n(1.2k Reviews)