In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\subhu\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\subhu\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: cffi>=1.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sniffio in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\subhu\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: pycparser in c:\users\subhu\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\subhu\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\subhu\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\subhu\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\subhu\Downloads\chromedriver_win32\chromedriver.exe")

In [5]:
driver.get('https://www.flipkart.com/')

In [11]:
product=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
product.send_keys('sneakers')

In [12]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[2]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [50]:
Brand=[]
Product_Description=[]
Price=[]

In [51]:
b_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in b_tag[0:36]:
    brand=i.text
    Brand.append(brand)
    
pro_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tag[0:36]:
    product=i.text
    Product_Description.append(product)
pri_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pri_tag[0:36]:
    prices=i.text
    Price.append(prices)

In [52]:
print(len(Price),len(Product_Description),len(Brand))

36 36 36

In [65]:
df1=pd.DataFrame({'Brand':Brand,'Price':Price,'Product_Description':Product_Description})

In [66]:
df1

,Brand,Price,Product_Description
0,Kraasa,₹319,Sneakers For Women
1,RED TAPE,"₹1,619",Sneakers For Men
2,Kraasa,₹499,Series 7 Sneakers For Men
3,ADIDAS,"₹1,305",Easy Vulc 2.0 Sneakers For Men
4,BRUTON,₹492,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...
5,Noztile,₹414,Sneakers For Men
6,ROCKFIELD,₹509,Sneakers For Men
7,ADIDAS,"₹2,267",STREET ICON M Sneakers For Men
8,Numenzo,₹509,Sneakers For Men
9,Kraasa,₹499,Shark-41 Sneakers For Men
10,Deals4you,₹381,Sneakers For Men
11,ADIDAS,"₹2,897",VS PACE Sneakers For Men
12,RapidBox,₹650,Modern Trendy Sneakers Shoes Sneakers For Men
13,BRUTON,₹666,Sneakers For Women
14,Layasa,₹499,Easy Vulc 2.0 Sneakers For Men
15,ADIDAS ORIGINALS,"₹2,339",Casual Sneakers White Shoes For Girls And Snea...
16,Layasa,₹549,Sneakers For Men
17,HOTSTYLE,₹272,Sneakers For Women
18,Layasa,₹499,Grand Court 2.0 Sneakers For Men
19,ADIDAS,"₹4,409",Sneakers For Men
20,Roadster,₹959,Levi's Men's Lancer Sneakers Sneakers For Men
21,LEVI'S,"₹1,759",Casual Sneakers Canvas Shoes For Men Sneakers ...
22,Robbie jones,₹529,BREAKNET Sneakers For Men
23,ADIDAS,"₹3,527",Sneakers For Men
24,DUNKASTON,₹699,Sneakers For Men
25,Kzaara,₹259,CR-1 Sneakers For Men
26,HOTSTYLE,₹262,Sneakers For Women
27,RESNAPSHOEZONE,₹499,Sneakers For Women

In [44]:
df1=pd.DataFrame({'Product_Description':Product_Description})

In [46]:
nextpage=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
nextpage.click()

In [55]:
Brand=[]
Product_Description=[]
Price=[]

In [56]:
b_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in b_tag[0:36]:
    brand=i.text
    Brand.append(brand)
    
pro_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tag[0:36]:
    product=i.text
    Product_Description.append(product)
pri_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pri_tag[0:36]:
    prices=i.text
    Price.append(prices)

In [57]:
print(len(Price),len(Product_Description),len(Brand))

36 36 36

In [67]:
df2=pd.DataFrame({'Brand':Brand,'Price':Price,'Product_Description':Product_Description})
df2

,Brand,Price,Product_Description
0,Kraasa,₹319,Sneakers For Women
1,RED TAPE,"₹1,619",Sneakers For Men
2,Kraasa,₹499,Series 7 Sneakers For Men
3,ADIDAS,"₹1,305",Easy Vulc 2.0 Sneakers For Men
4,BRUTON,₹492,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...
5,Noztile,₹414,Sneakers For Men
6,ROCKFIELD,₹509,Sneakers For Men
7,ADIDAS,"₹2,267",STREET ICON M Sneakers For Men
8,Numenzo,₹509,Sneakers For Men
9,Kraasa,₹499,Shark-41 Sneakers For Men
10,Deals4you,₹381,Sneakers For Men
11,ADIDAS,"₹2,897",VS PACE Sneakers For Men
12,RapidBox,₹650,Modern Trendy Sneakers Shoes Sneakers For Men
13,BRUTON,₹666,Sneakers For Women
14,Layasa,₹499,Easy Vulc 2.0 Sneakers For Men
15,ADIDAS ORIGINALS,"₹2,339",Casual Sneakers White Shoes For Girls And Snea...
16,Layasa,₹549,Sneakers For Men
17,HOTSTYLE,₹272,Sneakers For Women
18,Layasa,₹499,Grand Court 2.0 Sneakers For Men
19,ADIDAS,"₹4,409",Sneakers For Men
20,Roadster,₹959,Levi's Men's Lancer Sneakers Sneakers For Men
21,LEVI'S,"₹1,759",Casual Sneakers Canvas Shoes For Men Sneakers ...
22,Robbie jones,₹529,BREAKNET Sneakers For Men
23,ADIDAS,"₹3,527",Sneakers For Men
24,DUNKASTON,₹699,Sneakers For Men
25,Kzaara,₹259,CR-1 Sneakers For Men
26,HOTSTYLE,₹262,Sneakers For Women
27,RESNAPSHOEZONE,₹499,Sneakers For Women

In [60]:
nextpage=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
nextpage.click()

In [61]:
Brand=[]
Product_Description=[]
Price=[]

In [62]:
b_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in b_tag[0:28]:
    brand=i.text
    Brand.append(brand)
    
pro_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in pro_tag[0:28]:
    product=i.text
    Product_Description.append(product)
pri_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in pri_tag[0:28]:
    prices=i.text
    Price.append(prices)

In [63]:
print(len(Price),len(Product_Description),len(Brand))

28 28 28

In [68]:
df3=pd.DataFrame({'Brand':Brand,'Price':Price,'Product_Description':Product_Description})
df3

,Brand,Price,Product_Description
0,Kraasa,₹319,Sneakers For Women
1,RED TAPE,"₹1,619",Sneakers For Men
2,Kraasa,₹499,Series 7 Sneakers For Men
3,ADIDAS,"₹1,305",Easy Vulc 2.0 Sneakers For Men
4,BRUTON,₹492,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...
5,Noztile,₹414,Sneakers For Men
6,ROCKFIELD,₹509,Sneakers For Men
7,ADIDAS,"₹2,267",STREET ICON M Sneakers For Men
8,Numenzo,₹509,Sneakers For Men
9,Kraasa,₹499,Shark-41 Sneakers For Men
10,Deals4you,₹381,Sneakers For Men
11,ADIDAS,"₹2,897",VS PACE Sneakers For Men
12,RapidBox,₹650,Modern Trendy Sneakers Shoes Sneakers For Men
13,BRUTON,₹666,Sneakers For Women
14,Layasa,₹499,Easy Vulc 2.0 Sneakers For Men
15,ADIDAS ORIGINALS,"₹2,339",Casual Sneakers White Shoes For Girls And Snea...
16,Layasa,₹549,Sneakers For Men
17,HOTSTYLE,₹272,Sneakers For Women
18,Layasa,₹499,Grand Court 2.0 Sneakers For Men
19,ADIDAS,"₹4,409",Sneakers For Men
20,Roadster,₹959,Levi's Men's Lancer Sneakers Sneakers For Men
21,LEVI'S,"₹1,759",Casual Sneakers Canvas Shoes For Men Sneakers ...
22,Robbie jones,₹529,BREAKNET Sneakers For Men
23,ADIDAS,"₹3,527",Sneakers For Men
24,DUNKASTON,₹699,Sneakers For Men
25,Kzaara,₹259,CR-1 Sneakers For Men
26,HOTSTYLE,₹262,Sneakers For Women
27,RESNAPSHOEZONE,₹499,Sneakers For Women